/* reg styles on top of App.css*/

.bottom-title {
  margin-top: -80px;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profileImgContainer {
  width: 250px;
  height: 250px;
  margin-right: -20px;
}

.hero-container {
  min-height: 80vh;
}

.sticky-container {
  padding: 0px 20px 0px 20px;
  border-radius: 100px;
  backdrop-filter: blur(25px);
}

.navbar-bg-dark {
  background-color: rgba(0, 0, 0, 0.259);
}

.navbar {
  font-family: var(--font-secondary);
}

.nav-container {
  padding: 0px 0px 0px 40px;
}

a.nav-link {
  color: var(--color-navy-dark);
  font-size: 21px;
}

.link-container {
  text-decoration: none;
  background-image: linear-gradient(#1a2952, #1a2952); /* Underline color */
  background-size: 0% 2px; /* Initial state: 0 width */
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.3s ease-in-out;
}

.link-container:hover {
  background-size: 100% 2px; /* Hover state: 100% width */
}

/* link-top activates when user scrolls down */
.link-top {
  color: var(--color-test);
  background-image: linear-gradient(var(--color-test), var(--color-test));
}

.app {
  position: relative;
}

.socials {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 40px 16px 20px;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  z-index: 99999999;
}

.socials a {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials a:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.social-icon {
  width: 32px;
  height: 32px;
  display: block;
}

.add-on-titles {
  bottom: -70px;
  right: 0;
  font-size: 2vw;
  font-weight: 300;
}
.add-on-two {
  bottom: -45px;
  right: 0;
}
.add-on-three {
  bottom: -20px;
  right: 0;
}

.hero-row {
  margin: 75px 0px 75px 0px;
}

/* MARQUEE START*/
.fadeout-horizontal {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10rem,
    black calc(100% - 10rem),
    transparent
  );
}

.wrapper {
  padding: 4.8rem 0px;
  font-size: 1.25rem;
}

.marquee-text {
  overflow: clip;
}

.marquee-text-track {
  display: flex;
  gap: 4.8rem;
  padding-left: 4.8rem;
  width: max-content;
  animation: marquee-move-text 20s linear infinite;
  /* animation-play-state: paused; */
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}
/* MARQUEE END */
