/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* VARS */
:root {
  /* Colors */
  --color-accent-orange: #e8944a;
  --color-beige-light: #e8dcc8;
  --color-beige-medium: #c9b8a0;
  --color-navy-dark: #1a2952;

  /* Fonts */
  --font-primary: "Work Sans", sans-serif;
  --font-titles: "Prompt", sans-serif;
  --font-accent: "Passions Conflict", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-primary);
}

.hero-title {
  font-family: var(--font-titles);
  font-size: 12em;
  font-weight: 900;
  color: var(--color-navy-dark);
  text-align: left;
  letter-spacing: 10px;
}
