/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reenie+Beanie&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* VARS */
:root {
  /* Colors */
  --color-accent-orange: #fb7500;
  --color-accent-light-orange: #e98630;

  --color-beige-light: #fdeacbdc;
  --color-beige-medium: #c9b8a0;
  --color-navy-dark: #1a2952;
  --color-navy-dark-opaque: #1a2952f2;
  --color-navy-extra-dark: #111c3b;

  --color-test: #fb7500;

  /* Fonts */
  --font-primary: "Work Sans", sans-serif;
  --font-secondary: "Oxanium", sans-serif;
  --font-titles: "Prompt", sans-serif;
  --font-accent: "Reenie Beanie", cursive;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  /* background-color: var(--color-beige-light); */
  background-image: linear-gradient(var(--color-beige-light), #444e66cd);
  /* #c79b9b */
}

p {
  font-family: var(--font-secondary);
}

h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

.italic {
  font-style: italic;
}
